<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Experience & Education</h2>
                <h3 class="section-subheading text-muted">Relevance experience and education</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1991</h4>
                                <h4 class="subheading">When everything started</h4>
                            </div>
                            <div class="timeline-body">
                                <ul>
                                    <li>
                                        <p class="text-muted">
                                            I start my academic life in the area of Information Technology
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-muted">
                                            DBase in a MSX computer using floppy disks 5'1 / 4
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-muted">
                                            Yes , I played Prince of Persian and Galaga
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2001-2016</h4>
                                <h4 class="subheading">Freelance Web Developer / Designer</h4>
                            </div>
                            <div class="timeline-body">
                                <ul>
                                    <li>
                                        <p class="text-muted">
                                            Object-oriented programming patterns and techniques in PHP
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-muted">
                                            Web-application development in PHP
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-muted">
                                            Systems penetration testing
                                        </p>
                                    </li>
                                    <li>
                                        <p class="text-muted">
                                            Front-end development and design
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/logo.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2016</h4>
                                <h4 class="subheading">
                                    Beginning of activities as a <br/> Company WebCenter </h4>
                            </div>
                            <div class="timeline-body">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>