<!-- webModal -->
<div class="modal fade" id="webModal" tabindex="-1" role="dialog" aria-labelledby="webModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Como o site é um fator determinante para que sua empresa seja representada on-line, nós atuamos na Criação de Websites desde o processo de criação e planejamento até os principais detalhes acerca da usabilidade, com a finalidade de proporcionar o funcionamento ideal e o máximo de facilidade para os seus clientes.</p>
                <p>Na construção de sites, desenvolvemos aquilo que melhor traduz seus objetivos, refletindoo que o público busca e, consequentemente, gere excelentes resultados.</p>
                <ul>
                    <li>Um único site que se adpta automaticamente</li>
                    <li>Site acessível para todo tipo de dispositivo (celular, tablet, computador etc)</li>
                    <li>Proporciona ótima experiência para todos os usuários do site</li>
                    <li>Buscadores como Google priorizam sites responsivos</li>
                </ul>
            </div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="webModalLabel">Criação de sites</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>