<!-- Services Section -->
<section id="skills">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Skills</h2>
            <h3 class="section-subheading text-muted">3+ Years of Experience doing:</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
                    </span>
            <h4 class="service-heading">Front-end development</h4>
            <p class="text-muted">HTML5, CSS3, Javascript</p>
        </div>
        <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tablet fa-stack-1x fa-inverse"></i>
                    </span>
            <h4 class="service-heading">Responsive Design</h4>
            <p class="text-muted">Responsive design using technologies like CSS3, Bootstrap, jQuery</p>
        </div>
        <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-film fa-stack-1x fa-inverse"></i>
                    </span>
            <h4 class="service-heading">Multimedia Creation</h4>
            <p class="text-muted">Leveraging photography, film and illustrations</p>
        </div>
    </div>
    <div class="bg-png">
        <div class="row ">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Other Skills</h2>
                <h3 class="section-subheading text-muted">Experience</h3>
            </div>
        </div>
        <div class="row text-center  ">
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cube fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Back-end Development</h4>
                <p class="text-muted">PHP </p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Databases</h4>
                <p class="text-muted">Relational MySQL</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">jQuery</h4>
                <p class="text-muted">JavaScript</p>
            </div>
        </div>
        <div class="row text-center ">
            <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">MVC Architecture & Design Patterns</h4>
                <p class="text-muted">Wordpress</p>
            </div>
            <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-git fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Source Code Management & Distributed Revision Control</h4>
                <p class="text-muted">Git and BitBucket</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Learning</h2>
            <h3 class="section-subheading text-muted">Things I am currently hacking away at:</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
            <h4 class="service-heading">Mobile Development</h4>
            <p class="text-muted">Android</p>
        </div>
        <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
            <h4 class="service-heading">PenTesting</h4>
            <p class="text-muted">Web</p>
        </div>
        <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
            <h4 class="service-heading">Front-end Javascript Frameworks</h4>
            <p class="text-muted">jQuery</p>
        </div>
    </div>
</section>